body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
     
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
    filter: blur(8px);
}
.calculator {
    text-align: center;
    width: 300px;
    border: 2px solid wheat;
    border-radius: 20px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 10px wheat;
    transition: box-shadow 0.3s;
    color:wheat;
    background-color: black;
    
}
h2 {
    margin-bottom: 18px; 
    font-size: 36px;
}

.display {
    width: 80%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 1px;
    background: transparent;
    color: wheat;
   
}

.buttons button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 5px;
    background-color: black;
    border: none;
    border-radius: 50%;
    color: aliceblue;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.buttons .num{
    background-color: wheat;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: black;
}
.buttons .digit{
    color: wheat;
}
